.App {
  text-align: center;
}
body, html {
    margin: 10px;
    padding: 10px
}

/* .pagination {
    display: flex;
} */
.pagination-li {
    cursor: pointer;
}

.bank-info {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
.bank-info td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px 15px;
}
thead {
    background: #395870;
    color: #fff;
}
  
tbody tr:nth-child(even) {
    background: #f0f0f2;
  }

.pagination {
    margin: auto;
    padding: 30px;
    justify-content: center;
    border-collapse: collapse;
}
.pagination td {
    color: blue;
    padding: 10px
}
.pagination-div {
    margin-top: 30px;
}
.pagination td:hover {
    background-color: #ddd;
}
.active{
    font-weight: bold;
}
